  body {
  font-family: "Courier New", Courier, monospace;
  background: #f4f7e1;
  margin: 0;
  padding: 50px 200px 0 200px;
}

/* Text heirachy */
h1 { font-size: 4rem; color: #02330C; }
h2 { font-size: 2rem; color: #02330C; }
h3 { font-size: 1.5rem; color: #02330C; }
p  { font-size: 1rem; color: #023d0e; }

/*smaller paragreaph variant */
p.small {
  font-size: 0.75rem;
  color: #035b15;
}

/* Banner Dimensions */
.banner {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

/* Photo dimensions */
.banner img {
  height: 200px;
  max-width: 250px;
  object-fit: cover;
}

.container {
  max-width: 800px; 
  margin-top: 10px;
  margin-bottom: 10px;
}

.subcontainer {
  max-width: 600px;   
  margin-top: 3px;
  margin-bottom: 3px;    
}

